@page
@model IndexModel
@{
    ViewData["Title"] = "Booktel";
}

<div class="text-center">
    <h1 class="display-4">Welcome Booktel</h1>
    <h2>test</h2>
    <h3>test2</h3>
    <p>Booktel is hotel booking platform that will make your hotel booking easier..</p>

</div>
